aniso8601
attrs
click
Flask
Flask-Cors
flask-openapi3
flask-restx
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
jsonschema
MarkupSafe
matplotlib
nose2
pandas
pydantic
pyrsistent
pytz
requests
six
SQLAlchemy
SQLAlchemy-Utils
typing_extensions
Werkzeug
zipp